* {
  font-family:"arial";
  color: #FF5722;
  background-color: #F5F5F5;

}
.titles {
  color: #00695C;
  text-align: center;
}
#ukulele {
  color: #E91E63;
}
#icons {
  text-align:center;

}
.iconImage {
  width:30px;
  height:30px;
}
a {
  text-decoration: none;
  color: #D81B60;
}
#splash {
  color: #263238;

}
#menu {
  padding: 20px;
}
.imageSize {
  width:300px;
  height: 300px;
  /* padding: 20px; */
}
#aboutMe {
  padding: 20px;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px;
}
li {
  padding: 2px;
}
.alignment {
  padding-left:20px;
}
.block {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 10px;

}
.container {
  padding: 10px;
}
.grid-item {
  float: left;
  width: 400px;
  height: 3000px;
  border: 2px solid #FAFAFA;
}
.grid-item--portrait { 
  width: 300px;
  height: 350px; }
.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
