body {
  font-family:"arial";
  color: #FF5722;
  background-color: background: #1abc9c; background: -webkit-linear-gradient(left, #1abc9c, #f1c40f); background: -moz-linear-gradient(left, #1abc9c, #f1c40f); background: -ms-linear-gradient(left, #1abc9c, #f1c40f); background: -o-linear-gradient(left, #1abc9c, #f1c40f); background: linear-gradient(to right, #1abc9c, #f1c40f);

}
.big {
  font-size: 40pt;
}

.titles {
  color: #00695C;
  text-align: center;
}
#ukulele {
  color: #E91E63;
}

.icons {
  width:30px;
  height:30px;
}
a {
  text-decoration: none;
  color: #D81B60;
}
#splash {
  color: #263238;

}
#menu {
  padding: 20px;
}
.imageSize {
  width:300px;
  height: 300px;
  /* padding: 20px; */
}
#aboutMe {
  padding: 20px;
}
.plain {
  list-style-type: none;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px;
}
li {
  padding: 2px;
}
.alignment {
  padding-left:20px;
}
.block {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 10px;

}
.container {
  padding: 10px;
}
.grid-item {
  float: left;
  width: 400px;
  height: 300px;
  border: 2px solid transparent;
}
.grid-item--portrait {
  width: 300px;
  height: 350px; }
.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.pure-menu-list {
  background-color: transparent;
}
.pure-menu-item:hover {
  background-color: #d35400;
}
